In [2]:
import pandas as pd

1. Read `accidents_2017.tsv` using `pd.read_csv`. Note, that the encodding of this file is 'utf-8' and separator is ';'

In [4]:
df = pd.read_csv("accidents_2017.tsv", encoding="utf-16", sep=";")
df

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10334,2017S003667,Sant Andreu,el Bon Pastor,Litoral (Llobregat) ...,Tuesday,April,25,8,Morning,1,0,1,3,2.201800,41.392004
10335,2017S001896,Sant Andreu,el Bon Pastor,PL MONTERREY ...,Wednesday,March,8,12,Morning,1,0,1,2,2.206013,41.443445
10336,2017S010718,Sant Andreu,el Bon Pastor,Litoral (Llobregat) ...,Thursday,December,28,8,Morning,1,0,1,2,2.205607,41.443894
10337,2017S006145,Sant Andreu,el Bon Pastor,Litoral (Besòs) ...,Friday,July,14,14,Afternoon,1,0,1,2,2.205118,41.444824
10338,2017S000178,Sant Andreu,el Bon Pastor,CIUTAT D'ASUNCIÓN ...,Sunday,January,8,20,Afternoon,0,0,0,1,2.200956,41.437125

2. How many accidents are listed in this dataset?

In [5]:
len(df)

10339

3. How many victims, mild injuries and serious injuries are listed in this dataset? Print all three numbers

In [6]:
print("Victims:", df["Victims"].sum())
print("Mild injuries:", df["Mild injuries"].sum())
print("Serious injuries:", df["Serious injuries"].sum())

Victims: 12186
Mild injuries: 11933
Serious injuries: 241

4. Do `Serious injuries` and `Mild injuries` add up to match the number of `Victims` in each accident?

In [7]:
print("Victims:", df["Victims"].sum())
print("Mild injuries:", df["Mild injuries"].sum() + df["Serious injuries"].sum())

print("\nNo they do not add up.")

Victims: 12186
Mild injuries: 12174

No they do not add up.

5. Print districts in the descending order by number of occurence in the dataset

In [8]:
df["District Name"].value_counts()

Eixample               3029
Sant Martí             1336
Sants-Montjuïc         1104
Sarrià-Sant Gervasi    1104
Horta-Guinardó          743
Les Corts               726
Ciutat Vella            600
Sant Andreu             597
Nou Barris              542
Gràcia                  531
Unknown                  27
Name: District Name, dtype: int64

6. Print districts in the descending order by number of victims. How many victims were there in each of the districts?

In [14]:
df.groupby("District Name")["Victims"].sum().sort_values(ascending=False)

District Name
Eixample               3562
Sant Martí             1645
Sants-Montjuïc         1329
Sarrià-Sant Gervasi    1290
Les Corts               894
Horta-Guinardó          839
Sant Andreu             704
Nou Barris              661
Ciutat Vella            634
Gràcia                  588
Unknown                  40
Name: Victims, dtype: int64

7. What is the most dangerous day in the week? What is the second most dangerous day?

In [10]:
print(df.groupby("Weekday")["Weekday"].count().sort_values(ascending=False))

print("\nMost dangerous is Friday and second most dangerous is Tuesday.")

Weekday
Friday       1761
Tuesday      1691
Thursday     1677
Wednesday    1650
Monday       1510
Saturday     1155
Sunday        895
Name: Weekday, dtype: int64

Most dangerous is Friday and second most dangerous is Tuesday.

8. How many accidents are happening in the morning, afternoon and at night?

In [11]:
df.groupby("Part of the day")["Part of the day"].count()

Part of the day
Afternoon    5082
Morning      4067
Night        1190
Name: Part of the day, dtype: int64

9. Show all accidents that don't involve vehicles

In [23]:
df[df["Vehicles involved"].isnull() | df["Vehicles involved"] == 0]

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
2599,2017S008743,Sant Martí,el Besòs i el Maresme,Foix ...,Sunday,October,22,20,Afternoon,0,0,0,0,2.213825,41.418826
5866,2017S009423,Sants-Montjuïc,Sants,Josep Tarradellas / rosello ...,Monday,November,13,19,Afternoon,0,0,0,0,2.142413,41.382401
5916,2017S009606,Les Corts,les Corts,Entença / Diagonal ...,Sunday,November,19,3,Night,0,0,0,0,2.137125,41.390772
9798,2017S009518,Sants-Montjuïc,Sants,Madrid ...,Thursday,November,16,16,Afternoon,0,0,0,0,2.134137,41.381155
9862,2017S001721,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,RDA DALT (BESÒS) ...,Thursday,March,2,14,Afternoon,0,0,0,0,2.108666,41.391698

10. What is the ratio of mild injuries and serius injures?

In [19]:
mild = df["Mild injuries"].sum()
serious = df["Serious injuries"].sum()

print("Ratio of mild to serious:")
print(f"{mild/serious} : {serious/serious}")

Ratio of mild to serious:
49.51452282157676 : 1.0

11. Output 5 streets with most Victims

In [15]:
df.groupby("Street")["Victims"].sum().sort_values(ascending=False).iloc[:5]

Street
Corts Catalanes                                       271
Diagonal                                              231
Litoral (Llobregat)                                   183
Litoral (Besòs)                                       140
Meridiana                                             131
Name: Victims, dtype: int64

12. Save the dataset as `accidents_2017.сsv` with coma separator and encoding 'utf-8'. Use `to_csv` method with `index=False` attribute to prevent the creation of an additional column with indexes

In [26]:
df.to_csv("accidents_2017.сsv", encoding="utf-8", sep=",", index=False)